<div class="container d-flex h-100 pt-3 mx-auto flex-column">
  <header class="mb-auto noselect">
    <div class="masthead">
      <nav class="navbar navbar-expand-lg border-0 mx-auto">
        <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navMenu" aria-controls="navMenu" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa fa-bars fa-2x text-light py-1 px-2"></span>
        </button>

        <a class="navbar-brand border-right-0" href="#">
          <div class="logo">
            <img src="assets/img/masthead.png" />
          </div>
        </a>

        <div class="collapse navbar-collapse menu" id="navMenu">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link border-0 font-weight-bold" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link border-0 font-weight-bold disabled" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <main role="main">
    <div class="text-center">
      <h1>Thanks for dropping by!</h1>
      <p class="lead">
        Just trying out if we can use an Angular 6 based site on github pages. I've made the project via angular cli and used bootstrap
        4 for the ui framework. I've attemped to use ng-bootstrap which provides an alternative javacript implementation
        for bootstrap to directly use angular but I ended up switching back to importing the jquery dependency while the
        ticket <a target="_blank" href="https://github.com/ng-bootstrap/ng-bootstrap/issues/295">#295</a> remains unresolved.
        I'll be adding more content in due course.
      </p>
      <p class="lead">
        <a target="_blank" href="https://pages.github.com/" class="btn btn-lg btn-secondary">Learn more about Github Pages</a>
      </p>

    </div>
  </main>

  <footer class="d-flex mt-auto noselect">
    <div class="d-flex mx-auto">
      <div class="p-1">
        <a target="_blank" href="https://www.linkedin.com/in/markmagallanes/">
          <i class="fa fa-linkedin-square fa-lg px-1 py-2"></i>
        </a>
        <a target="_blank" href="https://github.com/markjohnmagallanes">
          <i class="fa fa-github-square fa-lg px-1 py-2"></i>
        </a>
        <a target="_blank" href="https://twitter.com/MarkMagallanes">
          <i class="fa fa-twitter fa-lg px-1 py-2"></i>
        </a>
        <a target="_blank" href="mailto:contact@markjohnmagallanes.com">
          <i class="fa fa-envelope fa-lg px-1 py-2"></i>
        </a>
      </div>
      <p class="p-2 mb-0 small">
        <i class="fa fa-copyright"></i> 2018 Copyright Mark John Magallanes - All rights reserved.
      </p>
    </div>
  </footer>

</div>
